!!! 5
%html(lang="en-US")
  %head
    %title Modal Plugin
    %meta(charset="UTF-8")
    = stylesheet_link_tag "modal"
    = javascript_include_tag "jquery-1.7.2.min", "jquery.modal", "examples"
  %body
    = yield
