@import url("whitespace-reset.css");

body {
  font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #649550; }

article#main {
  margin: 80px auto;
  width: 500px;
}
article#main h1 {
  font-weight: normal;
  font-size: 43px;
}
article#main h2 {
  font-weight: normal;
  font-family: georgia, serif;
  font-style: italic;
  margin-left: 15px;
}
article#main a {
  text-decoration: none;
  border-bottom: 2px solid #a5d094;
  color: #fff; }
article#main a:hover,
article#main a:focus { border-color: #fff; }
article#main ul {
  padding: 40px 100px;
  list-style-type: disc;
  font-size: 26px;
}
article#main ul li {
  margin: 0 0 20px 0;
}

article.modal {
  display: none;
  position: absolute;
  background: #fff;
  color: #333;
  padding: 40px;
  z-index: 100;
  -webkit-box-shadow: 0 0 8px 3px #000;
  -moz-box-shadow: 0 0 8px 3px #000;}
  article.modal p {
    padding: 0 0 25px 0;
    line-height: 140%; }
  article.modal h1 {
    margin: 0 0 20px 0;
  }
  article.modal dd {
    margin: 0 0 15px 0;
  }
  article.modal input[type="text"],
  article.modal input[type="email"] {
    border: 1px solid #999;
    width: 200px;
    padding: 3px 5px; }
  article.modal input[type="submit"] {
    margin: 0 10px 0 0;
  }
  article.modal a {
    color: #649550;
  }
#modal_layer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7; }
