%article#main
  %h1 jQuery Modal plugin
  %h2 by Shane Riley
  %ul
    %li
      here's a
      = link_to "static modal", "#", class: "modal_in_page"
    %li
      here's an
      = link_to "Ajax modal", "#", class: "ajax_modal"
    %li
      %label(for="plugin_name") Type modal in the input for a standalone modal
      %input#plugin_name(type="text" name="plugin_name")

%article#modal_in_page.modal
  %h1 In-page Modal
  %form(action="" method="post")
    %fieldset
      %dl
        %dt
          %label Name
        %dd
          %input(type="text")
        %dt
          %label Email
        %dd
          %input(type="email")
    %fieldset.actions
      %input(type="submit" value="Send")
      = link_to "cancel", "#", class: "close"
#modal_layer

%article#welcome.modal
  = RDiscount.new(File.read("README.md"), :smart).to_html
